*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(29, 29, 29);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem 10rem;
}
.badge{
    text-transform: uppercase;
    color: crimson;
    font-size: 14px;
}
.heading{
    color: white;
    margin: 20px 0;
    font-size: 26px;
    text-shadow: 2px 1px 1px black;
}
.card_group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pricing-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 275px;
    margin: 20px 30px;
    padding: 16px 14px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px white;
    transition: 0.5s ease-in-out;
}
.pricing-card i{
    color: crimson;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    box-shadow: 0 0 34px -12px gray;
    border-radius: 50%;
}
span{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: -10px 0;
}
.price{
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px black;
}
.packege_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
li{
    list-style: none;
    color: white;
    font-size: 17px;
    margin: 6px 0;
}

.get_started_btn{
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    background-color: darkgoldenrod;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px black;
}
.get_started_btn:hover{
    background: transparent;
    color: crimson;
}